body {
  margin: 10px;
  background-color: #008080;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

bin:hover {
  cursor: default;
}

.pointerOnHover:hover {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.noselect:hover {
  cursor: default;
}

.desktop {
  display: flex;
  position: fixed;
  z-index: -1;
  top: 10px;
  left: 10px;
  height: calc(100vh - 50px);
  width: 100vw;
  flex-direction: row;
  column-gap: 20px;
  row-gap: 20px;
}

.txSelected {
  background-color: navy;
  border-color: #fff;
}

.imSelected {
  filter: brightness(.35) sepia() hue-rotate(148deg) saturate(10);
  image-rendering: pixelated;
}

rainbow {
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}

.putAtTop {
  position: fixed;
  z-index: 999999999;
}

.disableDrag {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}